body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, san-serif;
	display: block;
	letter-spacing: 0.02em;
}
h1,h2,h3,h4,h5,h6,a,p{
	margin: 0px;
	padding: 0px;
}
a{
	color: #fff;
	text-decoration: none;
	display: block;
}
ul,li{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
h1{
	font-size: 27px;
	text-transform: uppercase;
	line-height: 1.407em;
	text-align: center;
}
p{
	font-size: 15px;
}
.header{
	padding: 70px 0px 250px;
	background: rgba(74,125,252,1);
	background: -moz-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(16,71,209,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,125,252,1)), color-stop(100%, rgba(16,71,209,1)));
	background: -webkit-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(16,71,209,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(16,71,209,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(74,125,252,1) 0%, rgba(16,71,209,1) 100%);
	background: linear-gradient(135deg, rgba(74,125,252,1) 0%, rgba(16,71,209,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a7dfc', endColorstr='#1047d1', GradientType=1 );
}
.container{
	width: 940px;
	margin: 0px auto;
}
.logo{
	margin: 0px 409px;
	margin-bottom: 165px;
}
.logo img{
	display: block;
	margin: 0px auto;
}
.myActivity{
	color: #fff;
	margin: 0px 172px 20px 175px;
}
.button{
	padding: 12px 35px;
	margin: 0px 360px;
	font-size: 13px;
	line-height: 2.063em;
	border: 1px solid #fff;
	border-radius: 27.5px;
	text-transform: uppercase;
	font-weight: bold; 
	letter-spacing: 0em;
}
.aboutAs{
	padding: 98px 0px 118px;
	box-shadow: 0px -80px 100px #0f3eb5;
}
.missionAndMerits{
	display: flex;
}
.aboutMe{
	margin: 0px 400px 55px 410px;
	text-align: center;
	font-size: 26px;
	line-height:2.063em;
	text-transform: uppercase;
}
.mission__about, .merits__about{
	font-size: 22px;
	line-height:2.063em;
	text-transform: uppercase;
}
.mission__about:after, .merits__about:after{
	content: '';
	display: block;
	background: #2d63eb;
	width: 72px;
	height: 3px;
	margin: 15px 0px 32px;	
}
.mission__paragraphFirst{
	height: 88px;
	width: 470px;
	line-height: 1.5em;
	margin-bottom: 32px;
	line-height: 1.6em;	
}
.mission__paragraphSecond{
	width: 460px;
	height: 160px;
	line-height: 1.6em;
}
.mission__reprehenderit{
	display: inline;
	border-bottom: 1px solid #7b96f0;
	color: #7b96f0;
}
.merits{
	margin-left: 70px;
}
.merits__list{
	margin-top: 40px;
}
.merits__items{
	display: flex;
}
.merits__item{
	border-radius: 10px;
	height: 52px;
	width: 52px; 
	margin-bottom: 26px;
}
.merits__bug{
	background: #2d63eb url(../img/bug.png) no-repeat center center;
}
.merits__bell{
	background: #2d63eb url(../img/bell.png) no-repeat center center;
}
.merits__storm{
	background: #2d63eb url(../img/storm.png) no-repeat center center;
	margin-bottom: 15px;	
}
.merits__camera{
	background: #2d63eb url(../img/camera.png) no-repeat center center;
	margin-bottom: 0px;	
}
.merits__textBlock{
	display: block;
}
.merits__text{
	margin-left: 23px;
	display: block;
	color: #4571ec;
	font-size:16px;
	line-height: 1.3em;
}
.merits__text_second{
	margin-top: 3px;
}
.merits__text_last{
	margin-top: 5px;
}
.merits__paragraph{
	margin-top: 3px;
	margin-left: 23px;
	display: block;
	font-size: 15px;
	line-height: 1.500em;
	color: #b0b2b3;
}
.whyMe{
	margin: 0px 243px 0px 247px;
	text-align: center;
	font-size: 26px;
	line-height: 2.063em;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
.reasons{
	display: flex;
	margin: 53px 0px 115px;
}
.reasons__span{
	text-align: center;
	display: block;
	box-sizing: border-box;
	line-height: 2.063em;
	border-radius: 50%;
	height: 75px;
	width: 75px;
	color: #ffa200;
	font-size: 30px;
	padding-top: 5px;
	border: 1px solid #ffa200; 
	margin: 0px 0px 10px ;
}
.reasons__span_first{
	margin-left: 45px;
}
.reasons__span_second{
	color: #fff;
	background: #ffa200;
	margin-left: 58px;
}
.reasons__span_thirth{
	margin-left: 68px;
}
.reasons__paragraph{
	font-weight: bold;
	font-size: 16px;
	line-height: 2.063em;
}
.reasons__firstReason{
	margin-left: 62px;
}
.reasons__secondReason{
	margin-left: 154px;
}
.reasons__thirthReason{
	margin-left: 100px;
}
.reasons__paragraph_first{
	width: 168px;
}
.reasons__paragraph_second{	
	width: 195px;
}
.reasons__paragraph_thirth{
	width: 219px;
}
.seem{
	padding: 100px 0px 113px;
	background:#e6e9f1;
}
.seemsToMe{
	text-transform: uppercase;
	margin:0px 380px 8px 380px;
	font-size: 22px;
	line-height: 2.0em;
	letter-spacing: 0.02em;
}
.semmsParagraph{
	text-align: center;
	font-size: 14px;
	line-height: 1.6em;
	margin: 0px 263px 25px 263px;
	letter-spacing: 0.02em;
}
.seemsButton{
	width: 218px;
	height: 55px;
	box-sizing: border-box;
	border-radius: 27.5px;
	font-size: 13px;
	padding: 20px 28px 20px 38px;
	letter-spacing: 0.01em;
	margin: 0px 360px;
	background: #2d63eb;
	text-transform: uppercase;
	font-weight: bold;
}
.footer{
	background: #06319e;
}
.copyright{
	display: flex;
	justify-content: space-between;
	padding: 40px 0px 42px;
	letter-spacing: 0.01em;
}
.copyright__paragraph{
	font-size: 13px;
	color: #aeb6d7;
	line-height: 2.375em;
}
.copyright__paragraph_second{
	margin-left: 80px;	
	letter-spacing: 0.02em;
}
.copyright__paragraph_thirth{
	letter-spacing: -0.06em;
	font-weight: bold;
	color: #fff;
	border-bottom: 1px dotted #fff;
	padding-bottom: 0px;
}