@import url('https://fonts.googleapis.com/css?family=Poor+Story');
@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
/*////////////////////////////////////////////////*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*/////////////////////////////////////////////*/
body{
    width: 1140px;
    height: auto;
    margin: 0px auto;
    background-image: url("84.jpg");
}
menu {
    height: 37pxpx;
    background-color: #3F3C3C;
    border-radius: 10px;
}
.mnHead{
    margin-left: 277.5px;
    margin-right: 277.5px;
    height: 37px;
    width: 585px;
}
menu a.mn{
    margin-left: 67px;
    float:left;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color:#FFFDFD;
    text-decoration: none;
}
menu a.mn[value="1"]{
    width: 71px;
    margin-left: 0px;
}
menu a.mn[value="2"]{
    width: 95px;
}
menu a.mn[value="3"]{
    width: 108px;
    background-color: #FFFDFD;
    border-radius: 10px;
    color:#BC1B1B;
}
menu a.mn[value="4"]{
    width: 110px;
}
menu a.mn:hover{
    background-color: #FFFDFD;
    border-radius: 10px;
    color:#BC1B1B;
}
header{
    border-radius: 10px;
}
.upper{
    height: 377px;
    background-color: #6D0505;
    border-radius: 10px;
}
.middle{
    height: 377px;
    background-color: rgba(109,5,5,0.56);
    border-radius: 10px;
}